.detail-wrapper {
    margin: 8px 0;
    display: flex;
    max-width: 400px;
}

.detail-wrapper button {
    margin-left: 10px;
    border: none;
}

.detail-wrapper button:hover {
    background: seashell;
}

.detail-wrapper button:active {
    background: #f6e4d7;
}
.detail-wrapper span{
    margin-right: 15px;
}
.detail-name{
    flex-grow: 1;
}